Checks: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,bugprone-*,modernize-*,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-avoid-const-or-ref-data-members,
        -bugprone-easily-swappable-parameters,
        -modernize-use-trailing-return-type'
WarningsAsErrors: true
SystemHeaders: false
